html,
body {
    background-color: #000000;
}

#console {
    font-family: courier;
    color: #cccccc;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 20px 25px;
    font-size: 16px;
}

a {
    color: #ffb000;
    text-decoration: none;
    border-bottom: 1px solid #ffb000;
    cursor: pointer;
}

#a {
    color: #ff0096;
}

#b {
    color: #0bc;
}

#c {
    color: #cccccc;
}

#particles-js{
    background-color: #000000;
    z-index : 1;
}

#main-section {
    overflow: hidden;
}
