html,
body {
    background-color: #000000;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#console {
    width: 100%;
    height: 100%;
    font-family: courier;
    color: #cccccc;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 20px 25px;
    font-size: 16px;
}

a {
    color: #ffb000;
    text-decoration: none;
    border-bottom: 1px solid #ffb000;
    cursor: pointer;
}

#a {
    color: #ff0096;
}

#b {
    color: #0bc;
}

#c {
    color: #cccccc;
}
